* {
  box-sizing: border-box;
}

/* Nav bar */

.nav-header {
  font-weight: bold;
  background-color: #8FBC8F;
  box-shadow: 0 0 6px black;
  position: fixed;
  height: 60px;
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 10px;
  z-index: 999;
}

.btn {
  background-color: gray;
  border: 3px solid #444444;
  border-radius: 5px;
  color: white;
  font-family: verdana;
  padding: 6px 20px;
  margin-left: 10px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s background-color ease-in-out;
}

.btn:hover {
  background-color: #B0C4DE;
  transition: 0.3s background-color ease-in-out;
}

/* end nav bar */

/* page formatting */

.bodyheading h1 {
  margin-top: 85px;
  width: 100%;
  text-align: center;

}

.paragraph {
  width: 100%;
  text-align: left;
}

body {
  
  font: 26px;
  font-family: serif, "Times New Roman";
  width: 90%;
  margin: 0 auto;
}

.foottext footer {
  text-align: center;
  width: 100%;
}

/* end page formatting */

/* homepage photos */

.col-1 {
  height: 200px;
  width: 33%;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.home-photo {
  border: 2px solid black;
  border-radius: 50%;
}

.home-title {
  font-family: sans-serif;
  font-size: 100px;
  text-align: center;
}

.col-1 img:hover {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
}

/*end homepage photos */

/* tea page content css */

.col-2 {
  font-size: 16px;
  text-decoration: none;
  padding: 10px;
}


/* soda page style */

.soda-bodyheading {
  margin-top: 85px;
  width: 100%;
  text-align: center;
  font-size: 40px;

}
.diet-graph {

margin-left: 85px;
padding-top: 95px;
}


.cola-graph {
  margin-left: 85px;
  margin-bottom: 20px;

}

.flav-graph {
  margin-left: 85px;
  padding-top: 148px;
  padding-bottom: 200px;
}

.cola-picture, .diet-picture, .flavored-picture {

  float: left;
  clear: left;
  margin-right: 20px;
  padding-bottom: 40px;

}

.soda-paragraph {
  font-size: 30px;
  padding-bottom: 20px;
}
